.App {
  text-align: center;
}
body{
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}
.chat-window{
  width:inherit;
  position: fixed;
  bottom: 0px;
}
.btn{
  background-color: #61dafb;
}

.hide{
  height:0px;
}
.col{
  padding:0px !important;
}
a{
  color: #61dafb !important;
}
input{
  border-bottom: 1px solid #61dafb !important;
}
.chat{
  border-bottom: 1px solid #61dafb !important;
  max-width:70%;
}
.SignIn{
  background-color: #282c34;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logOut{
  text-align: center;
  margin-top: 30px;
  margin-bottom: auto;
  color:#fb6161 !important;
}
.logo2{
  display:flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .chatArea{
    width:90%;
  }
}
@media screen and (min-width:600px) and (max-width: 992px) {
  .chatArea{
    width:85%;
  }
}
@media screen and (min-width:992px) and (max-width: 1200px) {
  .chatArea{
    width:70%;
  }
}
@media screen and (min-width:1200px) {
  .chatArea{
    width:70%;
    max-width: 1280px;
  }
}
